/* ------------------------ */
/* Basics */
/* ------------------------ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: rgb(13, 13, 13);
  font-family: "Lato", sans-serif, helvetica;
  font-weight: 300;
}

/* ------------------------ */
/* Utility Classes */
/* ------------------------ */
.u-display-none {
  display: none;
}

.u-push-right {
  float: right;
}

/* When we add this class to an element,
 it will disable the text selection on that. */
.u-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ------------------------ */
/* App */
/* ------------------------ */
.heading {
  background-color: rgb(24, 24, 24);
  text-align: center;
  padding: 0.8rem;
  border-bottom: 2px solid rgb(28, 28, 28);
}

.heading h1 {
  font-size: 1.8rem;
  color: white;
}

.stopwatch-container {
  text-align: center;
  margin-top: 6rem;
}

.stopwatch {
  font-size: 12rem;
  color: #fff;
  font-weight: 100;
}

.actions {
  margin-top: 6rem;
  width: 50rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* ------------------------ */
/* Buttons */
/* ------------------------ */
.btn {
  width: 10rem;
  height: 10rem;
  border-radius: 500px;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn-default {
  background-color: rgb(61, 61, 61);
  color: #fff;
}

.btn-default:hover {
  background-color: rgb(50, 50, 50);
}

.btn-default:active,
.btn-default:focus {
  background-color: rgb(37, 37, 37);
}

.btn-green {
  background-color: rgb(32, 53, 33);
  color: rgb(121, 218, 116);
}

.btn-green:hover {
  background-color: rgb(28, 40, 28);
}

.btn-green:active,
.btn-green:focus {
  background-color: rgb(23, 33, 23);
}

.btn-red {
  background-color: rgb(57, 25, 22);
  color: rgb(226, 74, 59);
}

.btn-red:hover {
  background-color: rgb(40, 22, 20);
}

.btn-red:active,
.btn-red:focus {
  background-color: rgb(35, 17, 16);
}

.btn:disabled {
  background-color: rgb(20, 20, 20);
  color: rgb(140, 140, 140);
  cursor: not-allowed;
}

/* ------------------------ */
/* Media Queries */
/* ------------------------ */
@media only screen and (max-width: 675px) {
  html {
    font-size: 56.25%;
  }

  .stopwatch-container {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 530px) {
  html {
    font-size: 48%;
  }

  .actions {
    width: 45rem;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 45.5%;
  }

  .actions {
    width: 40rem;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 40%;
  }

  .actions {
    width: 100%;
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 37%;
  }
}

@media only screen and (max-width: 315px) {
  .stopwatch {
    font-size: 10rem;
  }

  .btn {
    width: 7rem;
    height: 7rem;
  }
}
